<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-4">
    <h1>Login</h1>
    <form action="/loggedin" method="post" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <div class="valid-feedback">Looks good</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
        <div class="valid-feedback">Looks good</div>
      </div>
      <button class="btn btn-success">Login</button>
    </form>
  </div>
</div>


<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>